.cardContainer {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.cardContainer img {
  width: 100%;
}

.cardContainer .cardBody {
  padding: 1rem;
  border: 0.1em solid #f7f7f7;
  border-top: none;
  color: #858585;
}

.cardBody .cardDate p {
  font-size: 0.8rem;
}

.cardContainer .cardTitle {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.cardContainer .cardTitle h1 {
  font-size: 1rem;
  font-weight: 400;
  color: #494949;
}

.cardTitle hr {
  height: 0.8px;
  border-width: 0;
  color: #ebeaea;
  background-color: #ebeaea;
  margin-top: 0.5rem;
}

.cardDescription p {
  font-size: 0.8rem;
  font-weight: 300;
  padding-bottom: 1.2em;
}

.cardLink a {
  font-size: 0.8rem;
  font-weight: 300;
  color: #494949;
}
