/*==============
HERO SECTION
===============*/

.hero {
  background-color: #002444;
  color: #fff;
  padding: 7% 7%;
}

.heroContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 750px) {
  .heroContainer {
    flex-direction: row;
  }
}

.heroFirst {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 750px) {
  .heroFirst {
    max-width: 50%;
  }
}

.heroTitle {
  max-width: 100%;
  font-weight: 900;
  font-size: 2rem;
  line-height: 3.5rem;
  letter-spacing: 2.5px;
  padding-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.heroText {
  max-width: 95%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.35rem;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 750px) {
  .heroText {
    max-width: 85%;
  }
}

.heroButton button {
  font-weight: 580;
  font-size: 1rem;
  line-height: 2rem;
  background-color: #fff;
  color: #002444;
  border: 3px solid #c48e24;
  border-radius: 2rem;
  letter-spacing: 0.05em;
  padding: 0.5em 1.5em;
  transition: ease-out 0.3s;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
}

.heroButton button:hover {
  letter-spacing: 0.2em;
}

.heroSecond {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 750px) {
  .heroSecond {
    width: 50%;
  }
}

.heroImg {
  width: 10rem;
}

/*==============
ARTICLES SECTION
===============*/

.articles {
  padding: 2% 2%;
}

.articlesContainer {
  width: 100%;
}

.articlesCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(20rem, max-content)
  );
  grid-gap: 1.5rem;
  justify-content: center;
}

.articlesCards > * {
  margin: 0 auto;
}

.articlesTitle {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  letter-spacing: 2.5px;
  padding-bottom: 1em;
  text-align: center;
}
