*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
  width: inherit;
  height: inherit;
  display: block;
}

li {
  list-style: none;
}

.mainWrapper {
  min-height: calc(100vh - 110px);
}

@media only screen and (min-width: 750px) {
  .mainWrapper {
    min-height: calc(100vh - 174px);
  }
}

/*Spinner*/

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner.width {
  min-height: 80vh;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #002444;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
